{% extends 'layout.twig' %}

{% import 'contacts.managers_card.twig' as card %}
{% import 'contacts.description_shop.twig' as descriptions %}

{% block stylesheets %}
    {{ parent() }}
    <link href="../assets/css/constacts.css" rel="stylesheet">
    <link href="../assets/css/rating.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="../assets/js/rating.js"></script>
    <script  src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="../assets/js/map.js"></script>
	
{% endblock %}

{% block content %}
    <div class="shop">
        <h2 class="shop__title">{{description.name}}</h2>
        <div class="shop__location">
            <div id="map" style="width: 715px; height: 459px"></div>
            {{ descriptions.shop(description.img, description.name, description.address, description.phones, description.mail, description.tags) }}
        </div>
        <div class="shop__managers managers">
            <h2 class="managers__title">Менеджеры магазина</h2>
            <div class="managers__cards">
                {% for manager in managers %}
                    {{ card.managers(manager.id, manager.photo, manager.name, manager.comments, manager.ratingValue, manager.position, manager.phone, manager.mail) }}
                {% endfor %}
            </div>
        </div>
        <div class="whyus">
            <div class="whyus__image">
                <img src="../../assets/images/team_photo.jpg" alt="">
            </div>
            <div class="whyus__content">
                <h3 class="whyus__title">Почему мы</h3>
                <div class="whyus__text">
                    <p>
                        «Афоня» - крупнейшая сеть магазинов сантехники и плитки на Северо-Западе. Мы официальный партнёр
                        ведущих мировых производителей: GEBERIT, DURAVIT, Hansgrohe, Jacob Delafon, Laufen и многих
                        других.
                    </p>
                    <p>
                        В просторных магазинах с выставочными залами и оборудованными зонами для просмотров каталогов и
                        консультаций вы легко найдете все необходимое: от фитингов и оборудования для водоснабжения и
                        отопления до керамической плитки и эксклюзивной сантехники.
                    </p>
                    <p>
                        Наши консультанты постоянно проходят повышение квалификации, они профессионально помогут вам в
                        подборе инженерных систем, сантехники и плитки. Дизайнерам и монтажникам мы предлагаем
                        привлекательные условия сотрудничества.
                    </p>
                </div>
            </div>
        </div>
        <div class="advantages">
            <h3 class="advantages__title">Наша задача — помочь вам создать комфортную и современную ванную комнату</h3>
            <div class="advantages__items">
                <div class="advantages__item">
                    <div class="advantages__image">
                        <img src="../../assets/images/advantages_1.png" alt="Лучшие специалисты">
                    </div>
                    <p class="advantages__text">Персональные консультанции лучших специалистов в городе</p>
                </div>
                <div class="advantages__item">
                    <div class="advantages__image">
                        <img src="../../assets/images/advantages_2.png" alt="Лучшие специалисты">
                    </div>
                    <p class="advantages__text">Подбор сантехники и плитки из онлайн каталога</p>
                </div>
                <div class="advantages__item">
                    <div class="advantages__image">
                        <img src="../../assets/images/advantages_3.png" alt="Лучшие специалисты">
                    </div>
                    <p class="advantages__text">Сотни товаров по специальным низким ценам</p>
                </div>
                <div class="advantages__item">
                    <div class="advantages__image">
                        <img src="../../assets/images/advantages_4.png" alt="Лучшие специалисты">
                    </div>
                    <p class="advantages__text">Только самые актуальные каталоги поставщиков</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}