
{% import 'form.twig' as form %}

<div class="feedback__form fed-form-wrapper">
    <h3 class="fed-form__title">Оставить отзыв</h3>
    <form class="fed-form" action="user.php" method="POST" id="form">
        <label class="rating__title">Оценка</label>
        {{form.rating(id, true)}}
        <div class="fed-form__body">
            <div class="fed-form__contacts">
                {{form.input('name', 'Имя*', 'Введите имя', 'text')}}
                {{form.input('mail', 'E-mail*', 'Введите e-mail', 'mail')}}
                {{form.input('phone', 'Телефон', 'Введите телефон', 'tel')}}
            </div>
            {{form.textarea('comment', 'Ваш отзыв*', 'Введите текст')}}
        </div>
        <button class="fed-form__button feedback__button">Добавить отзыв</button>
    </form>
</div>