{% macro rating(id, ratingSet, value) %}
    <div class="fed-form__rating {% if ratingSet %} fed-form__rating_set {% endif %} ">
        <div class="rating__body">
            <div class="rating__active"></div>
            <div class="rating__items">
                {% for i in 1..5 %}
                    {% if i == value %}
                        <input type="radio" class="rating__item" value="{{i}}" name="rating_{{id}}" checked>
                    {% else %}
                        <input type="radio" class="rating__item" value="{{i}}" name="rating_{{id}}">
                    {% endif %} 
                {% endfor %}
            </div>
        </div>
        {% if ratingSet %}
            <div class="rating__value"></div>
        {% endif %}
    </div>
{% endmacro %}

{% macro input(name, label, value = null, type) %}
    <div class="fed-form__item">
        <label class="fed-form__label" for="{{ name }}"> {{ label }}</label>
        <input placeholder="{{ value }}" type="{{ type }}" class="fed-form__input" id="{{ name }}" name="{{ name }}">
    </div>
{% endmacro %}

{% macro textarea(name, label, value = null) %}
    <div class="fed-form__text">
        <label for="{{ name }}" class="fed-form__label"> {{ label }}</label>
        <textarea type="text" class="fed-form__textarea" id="{{ name }}" name="{{ name }}" placeholder="{{ value }}"></textarea>
    </div>
{% endmacro %}
{# TODO Надо реализовать отправку данных #}
