{% extends 'layout.twig' %}

{% import 'manager.card.twig' as card %}
{% import 'form.twig' as form %}
{% import 'form.comment.twig' as feedback %}

{% block stylesheets %}
{{ parent() }}
<link href="../assets/css/manager.css" rel="stylesheet">
<link href="../assets/css/rating.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="../assets/js/rating.js"></script>
<script src="../assets/js/popup.js"></script>
{% endblock %}

{% block content %}
<div class="manager">
    {{ card.manager(id, photo, name, position, address, ratingValue, comment, phone, mail, skills) }}
    <div class="manager__certificates certificates">
        {% for certificate in certificates %}
        <div class="certificates__item">
            <div class="certificates__img">
                <img src="{{certificate}}" alt="Сертификат">
            </div>
            <div class="certificates__loop"></div>
        </div>
        {% endfor %}
    </div>
    <div class="feedback">
        <div class="feedback__header">
            <h3 class="feedback__title"><a name="feedback">Отзывы</a></h3>
            <a href="#form"><button class="feedback__button">Добавить отзыв</button></a>
        </div>
        <div class="feedback__items">
            {% for comment in comments %}
            <div class="feedback__item comment">
                <div class="comment__header">
                    <div class="comment__author">
                        <div class="comment__avatar">
                            <img src="{{comment.avatar}}" alt="Аватар пользователя">
                        </div>
                        <p class="comment__name">{{comment.name}}</p>
                    </div>
                    {{form.rating(comment.id, false, comment.ratingValue)}}
                </div>
                <p class="comment__text">
                    {{ comment.text |raw}}
                </p>
            </div>
            {% endfor %}
        </div>
        {% include 'form.comment.twig' %}
    </div>
</div>
{% endblock %}